.cover{
    displa:table;
}
.sidebox{
    display: table-cell;
    width: 500px;
}
.mainbox{
    display: table-cell;
    background-color: rgb(239,225,205);
    min-width:400px;
}
.toolbar{
    width:100%;
    background: inherit;
    padding:0 auto 0 auto;
    text-align: left;
    background-color: rgb(225,198,175);
}
.toolbar .toolitem{
    margin:0 auto 0 auto;
    padding:4px;
    border: 1px solid black;
    text-align:center;
    display: inline-block;
    min-width: 25px;
}
.toolbar>input{
    padding: 0;
    margin:0;
}



.textbox3 {
padding:20px;
box-sizing: content-box;
    width:500px;
}
.textbox2{
resize: both;
height:500px;
max-width:100%;
overflow-y:auto;
position: relative;
}22
.textbox{
background-image: url('lines-min.png');
background-size: 27px 27px;
background-attachment: scroll;
background-repeat: repeat;
overflow-y:auto;
min-height: 100%;
    max-width:100%;
font-size: 20px;
line-height: 27px;
}
.linenumber{
position:absolute;
left:10px;
width:10px;
overflow-x: visible;
overflow-y:hidden;
font-size:14px;
line-height: 27px;
}

#footer{
text-align:center;
}
#pagenumber{
margin:10px auto;
font-size:20px;
vertical-align: baseline;
line-height:20px;

padding:5px;
border-radius:20px;
text-align:center;
background-color: green;
color:white;
}

.italic>.italic{
font-style:normal;
}
.bold>.bold{
font-weight:normal;
}
.bolder>.bolder{
font-weight:normal;
}
.underline>.underline{
font-weight:normal;
}
.bold{
    font-weight:bold;
}
.bolder{
    font-weight:bolder;
}
.italic{
    font-style:italic;
}
.underline{
    text-decoration: underline;
}
.strike{
    text-decoration: line-through;
}
.inline{
    display:inline;
}
.inline-block{
display:inline-block;
}



/*for leftbar files*/
#browser{
     width:250px;
     padding:10px;
     border:solid green 2px;
     border-radius:5px;
     border-top-left-radius: 20px;
}
.files{
    font-family: Calibri, "Times New Roman";
    background-color:rgba(240,255,240,.5);
    padding:3px;
    font-size: 18px;
}
.files .files{
    margin-left: 10px;
    padding-left: 5px;
    border-left: solid green 2px;
}
.files .files:last-child{
    border-bottom:solid green 2px;
}
.sidebox>button{
    background: lavenderblush;
    border:none;
    border-radius:3px;
    font-style:italic;
    display:block;
    width:100%;
    text-align:left;
}
.overflowcontrol{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
